/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, Arial, sans-serif;
}

:root {
    --bg-color: #000;
    --main-color: #d3d3d3;
    --accent-color: #1A1A1A;
    --paragraph-color: #fff;
    --text-color: #909090;
    --button-color : #C4C4C4;

    --font-size-xxl: 5rem;     /* 80px */
    --font-size-xl: 2.5rem;    /* 40px */
    --font-size-lg: 1.875rem;  /* 30px */
    --font-size-md: 1.5625rem; /* 25px */
    --font-size-sm: 1.0625rem; /* 17px */
    --font-size-s: 1.3rem;
    --font-size-xs: 0.9375rem; /* 15px */
    --font-size-xxs: 0.75rem;
}

body {
    max-width: 100%;
    margin: 0;
    background-color: var(--main-color);
}

.hidden {
    opacity: 0;
    transform: translateY(50px) scale(0.8); /* Start from below and slightly smaller */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-up-scale {
    opacity: 1;
    transform: translateY(0) scale(1); /* Move up and scale to full size */
}

.navbar {
    background-color: var(--bg-color);
    padding: 2.5rem 3rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size-sm);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease; /* Transition for smooth opening */
}

.logo {
    text-decoration: none;
    color: var(--paragraph-color);
}

.navbar a {
    color: var(--paragraph-color);
    text-decoration: none;
    margin-left: 4rem;
}

.navbar a:hover {
    color: var(--text-color);
}

.navbar a.contact {
    background-color: var(--paragraph-color);
    color: var(--bg-color);
    padding: 0.625rem 1.25rem;
    border-radius: 1.25rem;
    transition: background-color 0.3s;
}

.navbar a.contact:hover {
    background-color: var(--bg-color);
    color: var(--paragraph-color);
}

.navbar-toggler {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--paragraph-color);
    cursor: pointer;
}

.home-content {
    display: flex;
    height: 100vh;
    background: linear-gradient(105deg, #d3d3d3 50%, #000 50%);
}
.left-section {
    width: 60%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left-section h1 {
    font-size: var(--font-size-xxl);
    margin: 0;
}
.left-section h2 {
    font-size: var(--font-size-xl);
    margin: 0;
}
.left-section h3 {
    font-size: var(--font-size-md);
    color: #888;
    margin: 1vh 0;
}
.left-section button {
    background-color: var(--button-color);
    border: 0 solid var(--bg-color);
    border-radius: 0.8rem;
    box-shadow: 0.1rem 0.2rem var(--bg-color);
    transition: background-color 0.3s, box-shadow 0.3s;
    margin: 1.5rem 0;
    padding: 1rem 0;
    width: 6vw;
    font-size: var(--font-size-sm);
    cursor: pointer;
    font-weight: 600;
}

.left-section button:hover {
    background-color: var(--paragraph-color);
    box-shadow: 0 0.78vh 1.56vh rgba(0, 0, 0, 0.4);
}

.right-section {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.right-section img {
    max-width: 100%;
    height: 100%;
}

.details {
    background-color: var(--accent-color);
    color: var(--paragraph-color);
    padding: 4rem 3rem;
    justify-content: center;
    align-items: flex-start;
    text-align: justify;
}
.details h3 {
    font-size: var(--font-size-lg);
    margin-bottom: 1.25rem;
    font-weight: bold;
}
.details p {
    font-size: var(--font-size-xs);
    line-height: 1.5;
    width: 50%;
}

.container {
    width: 50%;
    margin: 0 auto;
    padding: 1.25rem;
}

.section {
    margin: 4.125rem 0;
    text-align: center;
}

.section-title {
    font-size: var(--font-size-lg);
    font-weight: bold;
    padding: 0.625rem 2.25rem;
    border: 0.3rem solid #000;
    display: flex;
    letter-spacing: 0.5rem;
    margin: 3rem auto; /* Center it horizontally and add margin at the bottom */
    width: 22rem;
    justify-content: center; /* Center content within the title */
}

.section-content-about {
    font-size: var(--font-size-sm);
    line-height: 1.6;
    text-align: justify;
}

.task-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the items horizontally */
    align-items: flex-start; /* Align items to the top */
    padding:0; /* Add padding for spacing */
    gap: 5rem;
    width: 100%;
}


.task-section div {
    flex: 25%; /* Allow flexibility, each item takes around 45% of the container */
    max-width: 100%; /* Limit the maximum width */
    margin: 1rem 0; /* Add margin for spacing */
    text-align: left;
    background-image: url('/assets/logo/design.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size:4.5rem;

}

.task-section div h3 {
    font-size: var(--font-size-md);
    font-weight: bold;
    margin-bottom: 0.5rem;
    letter-spacing: 0.2rem;
    padding-left: 2rem;
    padding-top: 2rem;
}

.task-section div:nth-child(2) {
    background-image: url('/assets/logo/development.png');
    background-size: 5rem;
}

.task-section div:nth-child(3) {
    background-image: url('/assets/logo/maintenance.png');
    background-size: 5rem;
    flex-basis: 100%; /* Make the third item (Maintenance) span the full width */
    max-width: 60%; /* Set the same max-width to keep the consistency */
    margin-top: 0; /* Add extra spacing above it */
}

.task-section div p {
    font-size: var(--font-size-sm);
    line-height: 1.5;
    color: var(--bg-color);
    font-weight: 300;
    padding-left: 2rem;
}


.section-content-skill {
    font-size: var(--font-size-sm);
    line-height: 1.6;
    text-align: left;
}

.section-content-skill h3 {
    margin: 3rem 0;
    font-size: var(--font-size-md);
}

.skills-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns, equally distributed */
    gap: 3.3rem; /* Adjust the gap between grid items */
    justify-items: center; /* Align items in the center of each column */
}

.skills-section div {
    width: 10rem;
    text-align: center;
    transition: transform 0.3s ease;
}

.skills-section div:hover {
    transform: scale(1.3);
}

.skills-section img {
    width: 80%;
    height: 60%;
}

.skills-section p {
    margin-top: 0.625rem;
    font-size: 0.875rem;
    text-align: flex;
}

.divider {
    background-repeat: no-repeat;
    background-position: center;
    margin: 2rem;
    font-size: 1.5rem;
    text-align: center;
}

.portofolio-section {
    background-color: var(--accent-color);
    position: relative;
    text-align: center;
    color: var(--paragraph-color);
    overflow: hidden; /* Prevent content from overflowing */
}

.portofolio-header {
    position: relative;
    text-align: center;
}

.portofolio-header img {
    width: 100%;
    height: auto;
}

.portofolio-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--font-size-lg);
    font-weight: bold;
    color: var(--bg-color);
    letter-spacing: 1.2rem;
    border: 0.4rem solid var(--bg-color);
    padding: 0.625rem 1.25rem;
}

.page {
    background-color: var(--bg-color);
    text-align: center;
    padding: 1rem 0;
}

.page a {
    color: var(--text-color);
    padding: 1rem 1.25rem;
    text-decoration: none;
    font-size: var(--font-size-sm);
    cursor: pointer;
    border-bottom: 0.125rem solid var(--text-color);
    display: inline-block;
    width: 10rem;
    text-align: center; 
}

.page a.active {
    color: white;
    border-bottom: 0.125rem solid white;
}

.portfolio {
    background-color: var(--bg-color);
    padding: 2rem 0;
}

.portfolio .certificate-content .item:hover {
    transform: scale(1.15);
}

.portfolio .content,
.certificate-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s;; /* Transition for the sliding effect */
    position: relative; /* Needed for positioning absolute elements */
}

.portfolio .content .item,
.certificate-content .item {
    flex: 1 1 30%;
    max-width: 30%;
    margin: 1rem;
    position: relative;
    transition: transform 0.3s ease;
}

.portfolio .content .item img,
.certificate-content .item img {
    width: 100%;
    height: 100%;
    border: 0.1rem solid var(--bg-color);
    border-radius: 8%;
}

.portfolio .content .item .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.5s;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio .content .item:hover .overlay {
    opacity: 1;
}

.portfolio .content .item .overlay .text {
    color: var(--paragraph-color);
    font-size: var(--font-size-lg);
    text-align: center;
}

.slide-out-left {
    transform: translateX(-100%); /* Slide out to the left */
    opacity: 0;
}

.slide-out-right {
    transform: translateX(100%); /* Slide out to the right */
    opacity: 0;
}

.slide-in-left {
    transform: translateX(-100%); /* Slide in from the left */
    opacity: 0;
}

.slide-in-right {
    transform: translateX(100%); /* Slide in from the right */
    opacity: 0;
}

.show-more {
    text-align: center;
    margin-top: 2rem;
}

.show-more button {
    background-color: transparent;
    color: var(--paragraph-color);
    border: none;
    padding: 0.1rem 2rem;
    cursor: pointer;
    font-size: var(--font-size-sm);
}

.portofolio-footer {
    font-size: var(--font-size-sm);
    text-align: center;
    padding: 2rem;
    background-color: var(--accent-color);
    color: var(--paragraph-color);
}

.contact {
    width: 50%;
    margin: 0 auto;
    padding: 1.25rem;
}

.section-content-contact {
    font-size: var(--font-size-sm);
    line-height: 1.6;
    text-align: center;
}

/* Form Container */

.contact-form {
    width: 100%;
    max-width: 40vw; /* Use viewport width */
    margin: 0 auto;
    padding: 5vh 2vh; /* Vertical padding using viewport height */
    box-sizing: border-box;
    text-align: center;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 1rem; /* Use rem for padding */
    margin-bottom: 5vh; /* Margin in viewport height */
    background: transparent;
    border: none;
    border-bottom: 0.3rem solid black; /* Bottom border in rem */
    border-left: 0.3rem solid black; /* Bottom border in rem */
    outline: none;
    font-size: var(--font-size-sm); /* Use rem for font size */
    font-family: 'Arial', sans-serif;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: var(--text-color);
    font-size: var(--font-size-xxs);
    font-weight: bold;
}

.contact-form textarea {
    height: 20vh; /* Use viewport height for textarea */
    resize: none;
}

.contact-form #submit {
    display: inline-block;
    padding: 1rem 2rem; /* Padding in rem */
    margin-top: 3vh; /* Margin using viewport height */
    border: none;
    border-right: 0.2rem solid black; /* Border in rem */
    border-left: 0.2rem solid black; /* Border in rem */
    cursor: pointer;
    letter-spacing: 0.2rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s;
}

.contact-form #submit:hover {
    border-radius: 0.5rem;
    background-color: black;
    color: white;
}

.footer {
    background-color: var(--accent-color);
    color: var(--paragraph-color);
    text-align: center;
    padding: 3rem;
    position: relative;
}

.back-home a {
    display:inline-block;
    align-items: center;
    margin: 0;
    letter-spacing: 0.2rem;
    text-decoration: none;
    color: var(--paragraph-color);
    font-weight: bold;
    font-size: var(--font-size-xs);
}

.back-home a i {
    margin-bottom: 1rem;
}

.social-media ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 2.5rem;
    gap: 2.08vw;
}

.social-media ul li a {
    text-decoration: none;
    font-size: 2em;
    color: var(--paragraph-color);
}
.social-media ul li a:hover {
    color: var(--card-color);
}

.credit {
    font-family: sans-serif;
    font-weight: 400;
    font-size: var(--font-size-sm);
}

@media (max-width: 768px) {
    .navbar {
        padding: 2rem 1rem;
        font-size: var(--font-size-xs);
    }
    .logo {
        text-align: left;
        align-items: left;
        justify-content: flex-start;
    }
    
    .navbar nav {
        z-index: 999;
        display: flex; /* Use flex to arrange items in a column */
        flex-direction: column;
        position: absolute;
        top: 10%;
        right: 0;
        background-color: rgba(0, 0, 0, 1);
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        width: 35%;
        text-align: center;
        padding: 0;
        opacity: 0; /* Initially hidden */
        transform: translateY(-20px); /* Slightly move it up */
        transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition */
        visibility: hidden; /* Prevent interaction when hidden */
        pointer-events: none; /* Disable pointer events when hidden */
    }
    
    .navbar nav.show {
        opacity: 1; /* Fully visible when toggled */
        transform: translateY(0); /* Reset position */
        visibility: visible; /* Allow interaction */
        pointer-events: auto; /* Enable pointer events when visible */
    }

    .navbar nav a {
        color: var(--paragraph-color);
        margin: 1rem 0;
    }

    .navbar-toggler {
        display: block;
    }

    .navbar a.contact {
        background: none;
        color: var(--paragraph-color);
        padding: 0;
        border-radius: 1.25rem;
        display: inline-block;
        margin: 1rem 0; /* Center the button */
        width: auto; /* Maintain original size */
    }

    .navbar.show nav {
        display: flex;
    }

    
    .home-content {
        z-index: 1;
        position: relative; /* Parent element for absolute positioning */
        background: var(--bg-color);
        padding: 0;
        height: 80vh; /* Ensure full viewport height */
        display: flex;
        flex-direction: column; /* Flex to stack content vertically */
    }
    
    .right-section {
        width: 100%;
        height: auto;
        flex-grow: 1; /* Take up available vertical space */
    }
    
    .left-section {
        position: absolute;
        bottom: 0; /* Stick it to the bottom */
        left: 0;
        width: 100%;
        padding: 2rem;
        background: linear-gradient(10deg, rgba(0, 0, 0, 0.6) 75%, transparent 50%);
        text-align: left;
    }
    
    

    .left-section h1 {
        color: var(--paragraph-color); /* Ensure text is visible */
        margin: 0.5vh 0;
        font-size: var(--font-size-lg);
    }

    .left-section h2 {
        color: var(--paragraph-color); /* Ensure text is visible */
        margin-top: 4vh;
        font-size: var(--font-size-sm);
    }

    .left-section h3 {
        color: var(--paragraph-color); /* Ensure text is visible */
        margin: 0;
        margin-bottom: 2vh;
        font-size: var(--font-size-xxs);
    }

    .left-section button {
        color: var(--bg-color);
        bottom: 0;
        width: 25vw;
        padding: 0.5rem 0;
        font-size: var(--font-size-xs);
        margin: 0;
    }

    .right-section img {
        width: 100%;
        height: 100%; /* Cover the entire screen */
        object-fit: cover;
    }

    .details {
        padding: 2rem 3rem;
        justify-content: center;
        align-items: center;
    }
    
    .details h3 {
        justify-content: center;
        text-align: center;
    }
    
    .details p {
        width: 100%;
        text-align: justify;
    }

    .container,
    .contact {
        justify-content: center;
        align-items: center;
        padding: 0 3rem;
        width: 100%;
    }

    .section-title {
        padding: 1rem 0;
        width: 14rem;
        font-size: var(--font-size-s);
        border: 0.6rem solid var(--bg-color);
    }

    .task-section {
        gap: 3rem;
    }

    .task-section div {
        margin: 0;
    }
    .task-section div h3{
        padding-left: 0;
    }

    .task-section div p{
        padding-left: 0;
        text-align: justify;
    }

    .task-section div:nth-child(3) {
        max-width: 100%;
    }
    
    .section-content-skill h3 {
        text-align: center;
        letter-spacing: 0.5rem;
        padding: 2rem 0;
    }

    .skills-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 3 columns, equally distributed */
        gap: 3.3rem; /* Adjust the gap between grid items */
        justify-items: center; /* Align items in the center of each column */
    }

    .skills-section div {
        width: 7rem;
    }

    .skills-section img {
        width: 80%;
        height: 60%;
    }

    .portofolio-header {
        height: 30vh;
    }

    .portofolio-header img {
        width: 100%;
        height: 30vh;
        object-fit: cover;
    }

    .portofolio-title {
        letter-spacing: 0.5rem;
        font-size: var(--font-size-sm);
        padding: 1.5rem;
        border: 0.6rem solid var(--bg-color);
    }

    .portfolio .content .item,
    .certificate-content .item {
        flex: 1 1 100%;
        max-width: 100%;
        margin: 2rem;
        position: relative;
    }

    .section-content-contact {
        text-align: justify;
    }

    .contact-form {
        max-width: 100vw;
    }

    .social-media ul {
        gap: 10vw;
    }
}

@media (min-width: 769px) and (max-width:1024px) {
    .navbar {
        padding: 3rem 2rem;
        font-size: var(--font-size-s);
    }
    .logo {
        text-align: left;
        align-items: left;
        justify-content: flex-start;
    }
    
    .navbar nav {
        z-index: 999;
        display: flex; /* Use flex to arrange items in a column */
        flex-direction: column;
        position: absolute;
        top: 10%;
        right: 0;
        background-color: rgba(0, 0, 0, 1);
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        width: 35%;
        text-align: center;
        padding: 0;
        opacity: 0; /* Initially hidden */
        transform: translateY(-20px); /* Slightly move it up */
        transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition */
        visibility: hidden; /* Prevent interaction when hidden */
        pointer-events: none; /* Disable pointer events when hidden */
    }
    
    .navbar nav.show {
        opacity: 1; /* Fully visible when toggled */
        transform: translateY(0); /* Reset position */
        visibility: visible; /* Allow interaction */
        pointer-events: auto; /* Enable pointer events when visible */
    }

    .navbar nav a {
        color: var(--paragraph-color);
        margin: 1rem 0;
    }

    .navbar-toggler {
        display: block;
        font-size: var(--font-size-xl);
    }

    .navbar a.contact {
        background: none;
        color: var(--paragraph-color);
        padding: 0;
        border-radius: 1.25rem;
        display: inline-block;
        margin: 1rem 0; /* Center the button */
        width: auto; /* Maintain original size */
    }

    .navbar.show nav {
        display: flex;
    }

    
    .home-content {
        z-index: 1;
        position: relative; /* Parent element for absolute positioning */
        background: var(--bg-color);
        padding: 0;
        height: 100vh; /* Ensure full viewport height */
        display: flex;
        flex-direction: column; /* Flex to stack content vertically */
    }
    
    .right-section {
        width: 100%;
        height: auto;
        flex-grow: 1; /* Take up available vertical space */
    }
    
    .left-section {
        position: absolute;
        bottom: 0; /* Stick it to the bottom */
        left: 0;
        width: 100%;
        padding: 4rem;
        height: 50%;
        background: linear-gradient(10deg, rgba(0, 0, 0, 0.6) 60%, transparent 50%);
        text-align: left;
    }
    
    

    .left-section h1 {
        color: var(--paragraph-color); /* Ensure text is visible */
        margin: 0.5vh 0;
        font-size: var(--font-size-xxl);
    }

    .left-section h2 {
        color: var(--paragraph-color); /* Ensure text is visible */
        margin-top: 20vh;
        font-size: var(--font-size-lg);
    }

    .left-section h3 {
        color: var(--paragraph-color); /* Ensure text is visible */
        margin: 0;
        margin-bottom: 2vh;
        font-size: var(--font-size-md);
    }

    .left-section button {
        color: var(--bg-color);
        bottom: 0;
        width: 20vw;
        padding: 1.5rem 0;
        font-size: var(--font-size-s);
        margin: 0;
    }

    .right-section img {
        width: 100%;
        height: 100%; /* Cover the entire screen */
        object-fit: cover;
    }

    .details {
        padding: 3em 4rem;
        justify-content: center;
        align-items: center;
    }
    
    .details h3 {
        justify-content: center;
        text-align: center;
        font-size: var(--font-size-xl);
    }
    
    .details p {
        width: 100%;
        text-align: justify;
        font-size: var(--font-size-s);
    }

    .container,
    .contact {
        justify-content: center;
        align-items: center;
        padding: 0 4rem;
        width: 100%;
    }

    .section-title {
        padding: 1rem 0;
        width: 17rem;
        font-size: var(--font-size-lg);
        border: 0.6rem solid var(--bg-color);
    }

    .section-content-about p{
        font-size: var(--font-size-s);
    }

    .task-section {
        gap: 3rem;
    }

    .task-section div {
        margin: 0;
    }
    .task-section div h3{
        padding-left: 0;
    }

    .task-section div p{
        padding-left: 0;
        text-align: justify;
        font-size: var(--font-size-sm);
    }

    .task-section div:nth-child(3) {
        max-width: 100%;
    }
    
    .section-content-skill h3 {
        text-align: center;
        letter-spacing: 0.5rem;
        padding: 2rem 0;
    }

    .skills-section {
        justify-content: space-between;
        gap: 3rem;
    }

    .skills-section div {
        width: 10rem;
    }

    .skills-section img {
        width: 70%;
        height: 60%;
    }

    .skills-section p {
        font-size: var(--font-size-sm);
    }

    .portofolio-header {
        height: 30vh;
    }

    .portofolio-header img {
        width: 100%;
        height: 30vh;
        object-fit: cover;
    }

    .portofolio-title {
        letter-spacing: 0.5rem;
        font-size: var(--font-size-md);
        padding: 1.5rem;
        border: 0.6rem solid var(--bg-color);
    }
    
    .page a{
        width: 13rem;
        font-size: var(--font-size-md);
    }

    .portfolio .content .item,
    .certificate-content .item {
        flex: 1 1 100%;
        max-width: 100%;
        margin: 4rem;
        position: relative;
    }

    .portfolio .certificate-content .item:hover {
        transform: scale(1.1);
    }

    .show-more button{
        font-size: var(--font-size-s);
    }

    .portofolio-footer {
        font-size: var(--font-size-md);
    }

    .contact {
        padding: 0 4rem;
    }
    .section-content-contact,
    .contact-form input,
    .contact-form textarea {
        font-size: var(--font-size-s);
        text-align: justify;
    }

    .contact-form input::placeholder,
    .contact-form textarea::placeholder {
        font-size: var(--font-size-xs);
}

    .contact-form {
        max-width: 100vw;
    }

    .back-home a,
    .credit {
        font-size: var(--font-size-sm);
    }

    .footer {
        font-size: var(--font-size-s);
    }
    
    .social-media ul {
        gap: 8vw;
        margin: 4rem;
    }
}